html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
  display: flex ;
  padding: 20px;
  

}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;

  background: url("../assets/img/login.webp") no-repeat center center/cover;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);

  z-index: -1;
}

#root {
  position: relative;
  z-index: 1;
}